@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

:root {
    --primary-color: rgb(17, 86, 102);
    ;
    --primary-color-darker: rgb(9, 48, 56);
    ;
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}

form input,
form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}

form button:hover {
    background: var(--primary-color-darker);
}

.complete::after {
    content: 'Formulario enviado com sucesso';
    color: green;
}

.invalidCPF::after {
    content: 'CPF informado e invalido';
    color: red;
}

.usersize::after {
    content: 'Usuario deve conter de 3 a 12 caracteres';
    color: red;
}

.username::after {
    content: 'Usuario deve conter apenas letras e numeros';
    color: red;
}

.wrongpassword::after {
    content: 'As senhas digitadas devem ser iguais';
    color: red;
}

.passwordsize::after {
    content: 'Senha deve conter de 6 a 12 caracteres';
    color: red;
}

.empty::after {
    content: 'Campo obrigatorio';
    color: red;
}
